.List h1 {
	text-align: center;
}

.ListItems, .ListItems * {
	border-radius: 8px;
}

.ListItems ul {
	list-style-type: none;
	background-color: #5100a8;
	color: white;
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

.List-Buttons {
	padding: 8px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.List-Buttons div {
	padding: 8px;
}

.ListItem {
	text-align: justify;
	align-items: center;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
	padding: 8px;
	color: white;
	background-color: #5100a8;
	transition: all 0.4s ease 0s;
}

.ListItem:hover {
	background-color: #9400a8;
}

.ListItem div:not(.ListItem-Control) {
	padding: 0 8px !important;
}

.ListItem-Control {
	padding: 0 !important;
}

.ListItem-Check {
	transform: scale(2);
	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	margin-top: -0.43rem;
	margin-left: -0.3rem;
}
