body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #dfdfdf;
}

::selection {
	background-color: #d70270;
}

::-moz-selection { /* Firefox */
	background-color: #d70270;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, button:focus {
	box-shadow: 0 0 0 3pt #734f96 !important;
}

.btn-blue {
	background-color: #0038a8 !important;
	border-color: #0038a8 !important;
}

.btn-purple {
	background-color: #734f96 !important;
	border-color: #734f96 !important;
}

.btn-pink {
	background-color: #d70270 !important;
	border-color: #d70270 !important;
}

.btn-pink:hover {
	background-color: #c20366 !important;
	border-color: #c20366 !important;
}

.btn-pink:hover {
	background-color: #ac025a !important;
	border-color: #ac025a !important;
}

.btn-icon {
	padding: 0;
	width: 36px;
	height: 36px;
	text-align: center;
	margin: auto;
}

.hidden {
	display: none;
}

.loading {
	text-align: center !important;
}
